@layer base, layout, text, appearance,other;



@layer base {
  todo-hamburger:not(:defined) > template[shadowroot] ~ *  {
    display: none;
  }
}


@layer layout {
  @media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
 
}

@layer appearance {
  svg {
    fill: black !important;
  }
}
